# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
.expo-local/
dist/
web-build/

# Build files
android/
ios/

# Logs
npm-debug.*
*.log

# Environment files
.env
.env.local

# macOS
.DS_Store

# Android signing files
*.jks
*.keystore
*.p8
*.p12
*.key

# iOS provisioning
*.mobileprovision
*.pbxuser
*.orig.*
*.xcuserstate

# IDE/Editor
.vscode/
.idea/