node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Android build files
android/app/build/
android/build/
android/.gradle/

# iOS build files
ios/build/
ios/Pods/

# Expo
.expo-shared/
